# Database Configuration
POSTGRES_DB=codearena
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DB_HOST=db
DB_PORT=5432

# Redis Configuration
REDIS_HOST=cache
REDIS_PORT=6379

# Backend Configuration
SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080

# Frontend Configuration
PORT=80
