# Database Configuration
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Database Network Configuration (Internal)
DB_HOST=
DB_PORT=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Backend Configuration
SPRING_PROFILES_ACTIVE=
SERVER_PORT=

# Frontend Configuration
PORT=
